
#navbar{
    width: 100%;
    height: 90px;
    background-color:#10847e;
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -8px -3px -3px;

}


#upimonu{
    width: 27%;
    height: 1%;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 13px;
    text-align: left;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 100px;
    line-height: 19px;
    font-size: 16px;
    color: #4f585e;
}

#navbox1{
    width: 180px;
    height: 60px;
    
    margin-left: 30px;
    
}
#navbox2{
    width: 215px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    margin-right: 40px;
    display: flex;
    align-items: center;
    
}
#navbox1>a>img{
    width: 100%;
    height: 100%;
}
#navbox2 > span{
    margin-right: 15px;
}
.accordion-item{
    border-bottom: 1px dotted  rgb(143, 138, 138);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    
}
.accordion-link{
    font-size: 14px;
    font-family:"Open Sans";
    color:#696b6d;
    text-decoration: none;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.accordion-link .ion-md-remove{
    display:none;
}
.answer{
    max-height:0;
    overflow: hidden;
    position:relative;
    transition:max-height 650ms;
    padding:0px 15px;
}

.accordion-item:target .answer{
    max-height:20rem;
}
.accordion-item:target .accordion-link .ion-md-add{
        display:none;
}
.accordion-item:target .accordion-link .ion-md-remove{
        display:block;
}
.rs{
    height: 50px;
    width: 50px;
}
.payimg{
    height: 30px;
    width: 50px;
    margin: auto;
    margin-right: 60px;
}
.payname{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 0px;
    
    
}

.lastbutton{
    margin-top: 15px;
    width: 12px;
    height: 12px;
    border: 0.5px solid rgb(16,132,126);
    border-radius: 50%;
}
.lastbutton:hover{
    background-color:rgb(16,132,126) ;
}
.linkwallet{
    background-color: rgb(16,132,126);
    color: aliceblue;
    width: 200px;
    height: 50px;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    margin-left: 23%;
    cursor: pointer;
    
}
.wallettext{
    padding-top: 12px;
}
.walletflex{
    display: flex;
    width: 85%;
    justify-content: space-between;
}
.walletdetail{
    display: flex;
    justify-content: space-between;
}
.imgpay{
    width: 50px;
   
}

#main{
display: flex;
justify-content: space-around;
margin: auto;
max-width: 1200px;
/*border: 1px solid red;*/
height: auto;
}
#borderbottum{
border-bottom:1px dotted grey ;
}
.priceflex{
color: #696b6d;
display: flex;
justify-content: space-between;
}
#box1{
display: flex;
justify-content: space-around;
align-items: center;
background-color:rgb(242,255,248) ;
}
#box1img{

height: 40px;
}
#section1{
padding: 5px;
width: 53%;
/*border: 1px solid red;*/

}
#section2{

padding: 5px;
margin: 20px;
width: 30%;
/*border: 1px solid rebeccapurple;*/

}
#totalamount{
display: flex;
justify-content: space-between;
color: #696b6d;
}

/* #otppopup {
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background-color: #10847e;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 100;
    border: 2px solid #10847e;
    padding: 10px;
    border-radius: 25px;
  }
  
  .fade-in {
    animation: fade 1s forwards;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }  */

  

  #enterotp{
    width: 27%;
    height: 1%;
    margin-top: 10%;
    margin-bottom: 1px;
    margin-left: 30%;
    margin-right: 1px;
    padding-top: 20px;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 100px;
    line-height: 19px;
    font-size: 16px;
    color: #4f585e;
  }

#hideButton{
      background-color: #c2fbd7;
      border-radius: 100px;
      box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
      color: green;
      cursor: pointer;
      display: inline-block;
      font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      margin-left: 45%;
      margin-right: 1%;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    #hideButton:hover {
      box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
      transform: scale(1.05) rotate(-1deg);
    }

    #psuccess {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 44%;
        height: 48%;
        background-color: #10847e;
        /* border: 2px solid red; */
        z-index: 100;
        padding: 10px;
        border-radius: 25px;
        display: none;
      }
      
      #psuccess.visible {
        display: block;
      }
      #psuccess > img{
        padding: 10px;
        border-radius: 100px;
      }

  #myDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44%;
    height: 48%;
    background-color: #10847e;
    /* border: 2px solid red; */
    z-index: 100;
    padding: 10px;
    border-radius: 25px;
    display: none;
  }
  
  #myDiv.visible {
    display: block;
  }
  
#upipaypop button{
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    padding-left: 10px;
    padding-right: 60px;
    border: 2px;
    cursor: pointer;
    background-color: #10847e;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
}

.other{
margin-top: 10px;
/* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
border-radius: 5px;
/* border: 1px solid red;*/
display: flex;
justify-content: space-between;


}  
h2{
color: #696b6d;
}
h1{
color: #555759;
}
.otherimg{
height: 40px;
margin: 10px;
margin-right: 30px;
/*border: 1px solid green;*/
}
.otherlogo{
display: flex;
justify-content: space-between;
width: 100%;
/*border: 1px solid rgb(63, 22, 145);*/
}
#section2 > #box1 > div > h2{
    margin-bottom: 5px;
    
}
#main > #section1 >h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    margin-bottom: 0px;
    
}
.paraname{
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
    font-size: 12px;
}
.cartprice{
    color:#696b6d;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}
.arrow{
    margin-left: 450px;
    font-size: 20px;
    color: #10847e;
}
.arrow1{
    font-size: 20px;
    color: #10847e;
    margin-left: 400px;
}

/* Sagar css */


.modal-header{
    background-color: #10847e;
    
    }
    .modal-header>img{
    height: 50%;
    width:50%;
    margin: 5px;
    
    }
    
    .modal {
    display:none; /* Hidden by default */
    /* justify-content: right; */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin-left: 73%;
    left:0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color/ */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
    }
    
    
    /* Modal Content */
    .modal-content {
    position: fixed;
    
    top:20px;
    background-color: #fefefe;
    width:400px;
    height:620px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
    
    }
    
    
    /* The Close Button */
    .close {
    color:rgb(255, 249, 249);
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
    }
    
    .close:hover,
    .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
    }
    
    
    
    
    
    .modal-body {padding: 2px 16px;}
    
    #myBtn{
       
        
        
        font-family: Open Sans,sans-serif!important;
        
    }
    
    #pophader{
        background-color: #10847e;
    }
    
    
    #inpcontinue{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px;
        text-align: center;
    }
    #inpcontinue>input{
        height: 40px;
        border: 1px solid gray;
        border-radius: 5px;
    }
    #inpcontinue>button{
        height: 40px;
        background-color: #10847e;
        color: white;
        font-family: Open Sans,sans-serif!important;
        font-weight: 600;
        border: 0px;
        border-radius: 5px;
    }
    #inpcontinue>p{
        margin-top: 50px;
        font-size: 15px;
    }
    
    /* Add Animation */
    @-webkit-keyframes slideIn {
    from {right: -300px; opacity: 0} 
    to {right: 0; opacity: 1}
    }
    
    @keyframes slideIn {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
    }
    
    @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
    }
    
    @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
    }
    @media all and (min-width:755px) and (max-width:1050px) {
        .modal {
        margin-left:60%;
        }
        
    }
    @media all and (min-width:200px) and (max-width:754px) {
        .modal{
            margin-left: 40%;
        }
        
    }
    
    
    
    
    
    
    #serving{
        background-color: #c4eeec;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        height: 40px;
        font-size: 12px;
    }
    #serving>img{
        height: 30px;
    }
    #Over{
        background-color: #c4eeec;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        height: 40px;
        font-size: 12px;
    }
    #Chooseloc{
        margin: 20px;
        margin-top: 50px;
        font-size: 25px;
        font-family: Open Sans,sans-serif!important;
        color:gray;
        font-weight: 600;
    
    }
    #forintbut{
      margin-left:20px;
      display: flex;
    }
    #forintbut>input{
       height: 33px;
       border-radius: 0px;
       border: 1px solid gray;
    }
    #forintbut>button{
       height: 35px;
       margin: 0;
       background-color: #10847e;
       border: 0px;
       border-top-right-radius: 5px;
       border-bottom-right-radius: 5px;
       width: 60px;
       color: white;
    }


button{
    margin-top: 25px;
    border: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
button:hover{
    background-color: #4dc9c3;
}

hr{
    width: 85%;
    color: rgb(195, 189, 189);
    margin-bottom: 1px;
}
.card{
    text-align: left;
    font-family: Open Sans,sans-serif!important;
    color:rgb(111, 111, 111);
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 6px;
    font-weight: lighter;

}
input{
    margin-top: 2px;
}

.cardd{
    text-align: left;
    font-family: Open Sans,sans-serif!important;
    color:rgb(29, 27, 27);
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 6px;
    font-weight: lighter;

}
.cback{
    /*border: 1px solid green;*/
    height: 70px;
    width: auto;
    display: flex;
    margin-bottom: 7px;
}
.valid{
    width: 50%;
    height: auto;
    /*border: 1px solid red;*/
}
.cvv{
    width: 50%;
    height: auto;
    /*border: 1px solid red;*/
}
.carddd{
    width: 70%;
    height: 50%;
    border-radius: 5px;
    margin-right: 45px;
    margin-top: 3px;
    border: 0.5px solid rgb(145, 145, 145);
    
}
.visa{
    width: 90%;
    height: 60%;
    /*border: 1px solid blue;*/
}
.cbackk{
   /* border: 1px solid green;*/
    height: 40px;
    width: auto;
    display: flex;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.visa{
    width: 15%;
    height: 45px;
    /* border: 1px solid red;*/
}
.visaImage{
    width: 100%;
    height: 100%;
}






