#container{
    width: 80%;
    height: 635px;
    margin: auto;
    /* border: 1px solid red;*/ 
    display: flex;
    margin-bottom: 5px;
  }

  #section1{
    width: 60%;
    height: 485px;
    /* border: 1px solid blue;*/ 
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .orderimg{
    width: 90%;
    height: 220px;
    margin: auto;
    position: relative;
    
  }
  .orderimg > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .save{
    width: 41.2%;
    height: 65px;
    /* border: 1px solid darkblue; */
    margin: auto;
    position: absolute;
    top: 304px;
    margin-left: 50px;
    border-radius: 10px;
    background-color: #42d6a9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rupee{
    width:5%;
    height: 45%;
    /* border: 1px solid white; */
  }
  .rupee > img{
    width: 100%;
    height: 100%;
  }
  .yay{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-left: 8px;
  }
  
  .yay:hover{
    color: yellow;
    cursor: pointer;
  }

  
.checkMark{
    width: 90%;
    height: 25px;
    margin: auto;
    /* border: 1px solid green;*/ 
    margin-top: 20px;
    display: flex;
    
  }
 #container > h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-left: 10px;
  }

  .delivery{
    width: 90%;
    height: 75px;
    margin: auto;
   
    margin-top: 20px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    justify-content: space-between;
    margin-bottom: 15px;
    
    
  }

  .date{
    width: 30%;
    height: 100%;
     /* border: 1px solid gold;*/ 
  }
 #mainpay > h3{
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    font-size: 14px;
    color: rgb(124, 121, 121);
    margin-top: 12px;
  }
  #mainpay > h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 4px;
  }

  .db{
    width: 30%;
    height: 100%;
    /* border: 1px solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .butt{
    padding: 12px 20px 12px 20px;
    border-radius: 5px;
    background-color: white;
    color:#10847e;
    border: 1px solid #10847e ;
    font-weight: bold;
    font-size: 14px;
  }
  .butt:hover{
    background-color: #10847e;
    color: white;
    cursor: pointer;
  }
  .plus{
    width: 90%;
    height: 65px;
    margin: auto;
   
    margin-top: 35px;
    display: flex;
    /* border: 1px solid red; */
    border-radius: 5px;
    justify-content: space-between;
  }
  #mainpay > hr{
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .plus > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  #section2{
    width: 40%;
    height: 300px;
    /* border: 1px solid magenta; */
    margin-top: 80px;
    
    
    
  }
  #section2 > img{
    width: 85%;
    height: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 35px;
  }
  .offer{
    position: relative;
  }
  #mainpay > input{
    width: 100%;
    height: 95%;
    border-radius: 5px;
    border: 1px solid rgb(193, 191, 191);
  }
  .input{
    width: 25%;
    height: 55px;
    /* border: 1px solid red; */
    position: absolute;
    margin-left: 52px;
    top: 238px;
  }

  .sub{
    width: 11%;
    height: 57px;
    /* border: 1px solid red; */
    position: absolute;
    margin-left: 49.5px;
    top: 311px;
    border-radius: 5px;
    background-color: rgb(249, 234, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .subb{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-bottom: 8px;
    margin-right: 18px;
  }
  .sub:hover{
    background-color: rgb(248, 221, 146);
    cursor: pointer;
    
  }

  #seconddiv {
    height: 400px;
    width: 70%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #seconddiv>div {
    height: 65%;
    /* border: 1px solid red; */
    width: 25%;
    padding: 20px;
    color: #4f585e;
    font-family: sans-serif;
    text-align: left;
  }

  #seconddiv>div>h3 {
    margin-top: 7px;
    font-size: 20px;
    text-align: left;
  }
  
  #seconddiv>div>p {
    margin-top: 7px;
    line-height: 25px;
    font-size: 17px;
    color: #8897a2;
    text-align: left;
  }

  #seconddiv {
    height: 400px;
    width: 70%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  #seconddiv>div {
    height: 65%;
    /* border: 1px solid red; */
    width: 25%;
    padding: 20px;
    
    font-family: sans-serif;
    text-align: left;
  }
  #seconddiv>div>h3 {
    margin-top: 7px;
    font-size: 16px;
    color: #4f585e;
    text-align: left;
  }
  
  #seconddiv>div>p {
    margin-top: 7px;
    line-height: 25px;
    font-size: 16px;
    color: #8897a2;
    text-align: left;
  }    

  /* mobile and google play and apple store here */
#thirddiv {
  height: 600px;
  width: 80%;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  align-items: center;
}
#thirddiv {
  height: 600px;
  width: 80%;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  align-items: center;
}


#oho {
  height: 70%;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
}


#oho {
  height: 70%;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
}

#mobile {
  height: 100%;
  width: 30%;
  /* border: 1px solid purple; */
}

#mobile>img {
  height: 100%;
}
#download> :first-child>p {
  line-height: 25px;
  font-size: 25px;
  color: #4f585e;
  text-align: left;
}

#download> :nth-child(2) {
  margin-top: 25px;
  width: 85%;
  height: 45%;
  /* border: 1px solid red; */
  display: flex;
}

#download> :nth-child(2)> :nth-child(2) {
  margin-left: 95px;
}

#download {
  height: 35%;
  /* border: 1px solid black; */
  width: 40%;
}

#download> :first-child {
  width: 100%;
  height: 25%;
  /* border: 1px solid red; */
}

#download> :first-child>p {
  line-height: 25px;
  font-size: 25px;
  color: #4f585e;
  text-align: left;
}

#download> :nth-child(2) {
  margin-top: 25px;
  width: 85%;
  height: 45%;
  /* border: 1px solid red; */
  display: flex;
}

#download> :nth-child(2)> :nth-child(2) {
  margin-left: 95px;
}


.app a {
  width: 150%;
  height: 100%;
  /* border: 1px solid black; */
  border-radius: 8px;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: #4f585e;
  cursor: pointer;
}

.app div {
  height: 55%;
  width: 85%;
  /* border: 1px solid red; */
  display: flex;
  background-color: #4f585e;
}

.app p {
  color: white;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 9px;
}
#fourthdiv {
  height: 900px;
  width: 100%;
  /* border: 1px solid black; */
  background-color: #f4f7fb;
}
#fourthdiv {
  height: 900px;
  width: 100%;
  /* border: 1px solid black; */
  background-color: #f4f7fb;
}

#kolo {
  /* border: 1px solid black; */
  width: 80%;
  margin: auto;
  height: 75%;
  margin-top: 50px;
  display: flex;
}
.CFN {
  height: 100%;
  width: 70%;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.CFN>div {
  height: 100%;
  /* border: 1px solid black; */
  font-family: sans-serif;
}

.CFN>div>p {
  margin-top: 18px;
  font-size: 16px;
  color: #4f585e;
}

.CFN>div h3 {
  font-size: 20.5px;
}

#followus {
  height: 20%;
  /* border: 1px solid red; */
  width: 40%;
}

#followus>h3 {
  font-family: Open Sans, sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

#followus>div {
  height: 50%;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

#followus>div>a {
  margin-right: 30px;
  color: #10847e;
}

#partners {
  height: 180px;
  width: 80%;
  margin: auto;
  /* border: 2px solid black; */
  font-family: sans-serif;
}

#partners>div {
  height: 100px;
  width: 100%;
  /* border: 1px solid black; */
  margin-top: 10px;
  display: flex;
}

#warningMessage{
  margin-top: 1%;
  margin-left: 1%;
}

#imageElement{
  width: 100%;
}