#parentAshu-3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 100px;
}
#parentAshu-3>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 40px;
}
#parentAshu-3>div>img{
    width: 50%;
    padding-top: 25px;
}
p:first-child{
    text-decoration: line-through;
}
button{
    color: aliceblue;
    padding: 10px 20px;
    background-color:darkcyan;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#parentAshu-3>div:hover{
    border: 1px solid rgb(45, 128, 45);
}

button:hover{
    transform: scale(1.1);
}
button:active{
    color:aliceblue;
    background-color: black;

}

#sortPrice-3{
background-color: black;
border-radius: 10px;
color: aliceblue;
padding: 15px;
font-size: large;
}

#sortName-3{
background-color: black;
border-radius: 10px;
color: aliceblue;
/* width: 300px; */
padding: 15px;
/* width: 250px; */
font-size: large;
}

#sortDiv-3{
display: flex;
justify-content:space-evenly;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 20px;
}

@media only screen and (max-width: 500px) {
#parentAshu-3{
  grid-template-columns: repeat(2,1fr); 
}
}